

.box-2{
    min-height: 250px;
   
}
.img-container{
    margin: auto;
    width: 50%;
    height: 50%;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.news-1{
    margin-top: 50px;
    border: 2px;

}
.card-title title-1{
    color: white;
}
.row h2{
    margin-top: 20px;
}
.product_section{
    background-color:whitesmoke;
    padding: 20px 0px;
}
.p0{
    padding: 0px !important;
}

.btn-default{
background-color: white;
border: 1px solid grey;
}
.card-img{
    border-radius: 25px;
}